<div class="product-card">
  <div class="product-image">
    <img [src]="product.thumbnail" [alt]="product.title" />
    <div class="discount-badge">{{ product.discountPercentage }}%</div>
  </div>

  <div class="product-details">
    <h3 class="product-name">{{ product.title }}</h3>
    <p class="product-description">{{ product.description }}</p>

    <div class="product-price">
      <span class="original-price">{{ product.originalPrice }} USD</span>
      <span class="discounted-price">{{ product.price }} USD</span>
    </div>

    <div class="product-meta">
      <p>
        Brand: <b>{{ product.brand }} </b>
      </p>
      <p>
        Category: <b>{{ product.category }}</b>
      </p>
      <p>
        In stock: <b>{{ product.stock }}</b>
      </p>
    </div>

    <div class="product-reviews">
      <span class="rating">
        ⭐
        {{ product.rating.toFixed(2) }}
      </span>
      <span class="reviews">({{ product.reviews.length }})</span>
    </div>

    <button class="add-to-cart-btn">ADD TO CART</button>
  </div>
</div>
