<nav>
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <button
        [disabled]="currentPage === 1"
        class="page-link"
        (click)="onPageChange(currentPage - 1)"
      >
        &lt;
      </button>
    </li>

    <li
      *ngFor="let page of pages"
      class="page-item"
      [class.active]="page === currentPage"
      [class.ellipsis]="page === -1"
    >
      <button
        class="page-link"
        *ngIf="page !== -1"
        (click)="onPageChange(page)"
      >
        {{ page }}
      </button>
      <span *ngIf="page === -1"> &hellip; </span>
    </li>

    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <button
        [disabled]="currentPage === totalPages"
        class="page-link"
        (click)="onPageChange(currentPage + 1)"
      >
        &gt;
      </button>
    </li>
  </ul>
</nav>
