.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  .page-link {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;

    &.active {
      background-color: darken(var(--primary-color), 10%);
    }

    &:disabled {
      background-color: grey;
      cursor: not-allowed;
    }
  }
}
