.sidebar {
  padding: 1rem;
  background-color: var(--secondary-color);
  box-shadow: var(--card-shadow);
  border-radius: var(--border-radius);
  h3 {
    margin-top: 0;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;

      input {
        margin-right: 0.5rem;
      }
    }
  }
}
